### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [212]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
purchase_csv = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_pd = pd.read_csv(purchase_csv)
purchase_pd.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [213]:
purchase_pd.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

## Player Count

* Display the total number of players

In [214]:
#Find the missing or empty rows 
purchase_pd.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [215]:
#Check the data types
purchase_pd.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [216]:
#Use value_counts method to count unique values in SN(players) column
total_players = purchase_pd["SN"].value_counts()
total = [{"Total Players": len(total_players)}]
#Create the dataframe
pd.DataFrame(total)

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [217]:
#Count the unique items
unique_items = len(purchase_pd["Item ID"].unique())
unique_items

183

In [218]:
#Find average price usin mean function
average_price = "$" + str(round(purchase_pd["Price"].mean(),(2)))
average_price

'$3.05'

In [219]:
#Number of purchases equals to sum of total rows
number_of_purchases = purchase_pd["Purchase ID"].count()
number_of_purchases

780

In [220]:
#Find the total revenue 
total_revenue = "$" + str(purchase_pd["Price"].sum())
total_revenue

'$2379.77'

In [221]:
#Create the summary DataFrame
summary = [{"Number of Unique Items": unique_items, 
           "Average Price": average_price,
           "Number of Purchases": number_of_purchases, 
           "Total Revenue": total_revenue}]
pd.DataFrame(summary)

  Average Price  Number of Purchases  Number of Unique Items Total Revenue
0         $3.05                  780                     183      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [222]:
#Find and execute dublicate data
df_deduped = purchase_pd.drop_duplicates(subset="SN", keep="first")

In [223]:
#Use value counts method to find gender and put it in DaraFrame
gender = df_deduped["Gender"].value_counts()
demographics_df = pd.DataFrame(gender)
demographics_df.head()

                       Gender
Male                      484
Female                     81
Other / Non-Disclosed      11

In [224]:
# #Find gender percantage
male_percentage = round((gender[0]/gender.sum())*100, 2)
female_percentage = round((gender[1]/gender.sum())*100, 2)
other_percentage = round((gender[2]/gender.sum())*100, 2)

In [225]:
add_percentage = [str(male_percentage) +" %", str(female_percentage) +" %", str(other_percentage) +" %"]

In [226]:
demographics_df["Percentage"] = add_percentage
demographics_df

                       Gender Percentage
Male                      484    84.03 %
Female                     81    14.06 %
Other / Non-Disclosed      11     1.91 %

# Purchasing Analysis

# 
Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender


Create a summary data frame to hold the results


Optional: give the displayed data cleaner formatting


Display the summary data frame

In [227]:
purchase_pd_1 = purchase_pd.groupby("Gender")

In [228]:
purchase_count_gn = purchase_pd_1["Purchase ID"].count()
purchase_count_gn = pd.DataFrame(purchase_count_gn)
purchase_count_gn

                       Purchase ID
Gender
Female                         113
Male                           652
Other / Non-Disclosed           15

In [229]:
average_price_gender = purchase_pd_1["Price"].mean()
purchase_count_gn["Average Purchase Price"] = average_price_gender.map("${:.2f}".format)

In [230]:
total_purchase_gender = purchase_pd_1["Price"].sum()
purchase_count_gn["Total Purchase Value"] = total_purchase_gender.map("${:.2f}".format)
purchase_count_gn

                       Purchase ID Average Purchase Price Total Purchase Value
Gender
Female                         113                  $3.20              $361.94
Male                           652                  $3.02             $1967.64
Other / Non-Disclosed           15                  $3.35               $50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [231]:
# Create the bins in which Age range will be held
oldest = max(df_deduped["Age"])
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, oldest+1]
# Create the names for the age_bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [232]:
df_deduped["Age Range"] = pd.cut(df_deduped["Age"], age_bins, labels=group_names)
df_deduped

C:\Users\thank\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67,20-24
8,8,Undjask33,22,Male,21,Souleater,1.10,20-24
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35-39
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74,20-24
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67,20-24
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18,20-24
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70,20-24
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,35-39
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89,20-24
16,16,Lisirra25,20,Male,40,Second Chance,2.52,20-24
17,17,Zontibe81,21,Male,161,Devine,1.76,20-24
18,18,Reunasu60,22,Female,82,Nirvana,4.90,20-24
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,30-34
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60,20-24
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48,20-24
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,35-39
23,23,Eyrian71,40,Male,151,Severance,3.40,40+
24,24,Siala43,30,Male,141,Persuasion,3.19,30-34
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,25-29
26,26,Lirtossa84,11,Male,71,Demise,1.61,10-14
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,<10
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32,20-24
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16,20-24
...,...,...,...,...,...,...,...,...
728,728,Chanosiaya39,44,Male,93,Apocalyptic Battlescythe,1.97,40+
729,729,Assylla81,20,Male,74,Yearning Crusher,4.18,20-24
730,730,Aidaira26,30,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,30-34
731,731,Eudanu84,22,Female,12,Dawne,1.02,20-24
733,733,Chamiman85,20,Male,66,Victor Iron Spikes,4.40,20-24
736,736,Tyialisti80,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14,20-24
737,737,Marundi65,22,Male,149,"Tranquility, Razor of Black Magic",1.75,20-24
738,738,Eusur90,36,Male,121,Massacre,1.60,35-39
739,739,Mindirranya33,35,Male,61,Ragnarok,3.87,35-39
741,741,Phiallylis33,19,Male,145,Fiery Glass Crusader,4.58,15-19
742,742,Isty55,20,Male,5,Putrid Fan,4.08,20-24
743,743,Frichilsa31,15,Male,110,Suspension,1.44,15-19
745,745,Chanista95,39,Male,37,"Shadow Strike, Glory of Ending Hope",3.16,35-39
746,746,Aellyria80,23,Male,159,"Oathbreaker, Spellblade of Trials",3.08,20-24
748,748,Rastynusuir31,20,Male,55,Vindictive Glass Edge,2.27,20-24
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61,20-24
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36,10-14
752,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60,15-19
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,35-39
756,756,Ilast79,20,Male,73,Ritual Mace,2.05,20-24
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60,15-19
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70,40+
765,765,Irith83,18,Male,130,Alpha,2.07,15-19
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58,15-19
771,771,Iskossasda43,16,Male,25,Hero Cane,4.35,15-19
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02,20-24
774,774,Jiskjask80,11,Male,101,Final Critic,4.19,10-14
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,101,Final Critic,4.19,<10

In [233]:
df_deduped = df_deduped.groupby("Age Range")
df_deduped.max()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
Age Range,,,,,,,
<10,778,Tyeurith29,9,Male,179,"Wolf, Promise of the Moonwalker",4.93
10-14,774,Zhisrisu83,14,Male,180,Wolf,4.94
15-19,771,Yoishirrala98,19,Other / Non-Disclosed,183,Yearning Mageblade,4.91
20-24,777,Zontibe81,24,Other / Non-Disclosed,183,Yearning Mageblade,4.99
25-29,724,Yasur35,29,Other / Non-Disclosed,181,Worldbreaker,4.94
30-34,730,Yarolwen77,34,Male,178,Woeful Adamantite Claymore,4.93
35-39,753,Tyaerith73,39,Other / Non-Disclosed,179,"Wolf, Promise of the Moonwalker",4.91
40+,761,Salilis27,45,Male,173,Victor Iron Spikes,4.93

In [234]:
# Find how many rows fall into each bin
total_count = df_deduped["Gender"].count()
#Create the dataframe
total_count = pd.DataFrame(total_count)
total_count

           Gender
Age Range
<10            17
10-14          22
15-19         107
20-24         258
25-29          77
30-34          52
35-39          31
40+            12

In [235]:
total_count.rename(columns ={"Gender":"Total Count"}, inplace=True)
total_count

           Total Count
Age Range
<10                 17
10-14               22
15-19              107
20-24              258
25-29               77
30-34               52
35-39               31
40+                 12

In [236]:
#Find players age percentage by looping array
players_count = round((total_count[0:]/total_count.sum())*100,(2))
print(players_count)

           Total Count
Age Range
<10               2.95
10-14             3.82
15-19            18.58
20-24            44.79
25-29            13.37
30-34             9.03
35-39             5.38
40+               2.08

In [237]:
total_count["Percentage of Players"] = players_count
total_count["Percentage of Players"] = total_count["Percentage of Players"].map("{:,}%".format)
total_count

           Total Count Percentage of Players
Age Range
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [238]:
purchase_pd_2 = purchase_pd
purchase_pd_2["Age range"] = pd.cut(purchase_pd["Age"], age_bins, labels=group_names)
purchase_pd_2

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67,20-24
8,8,Undjask33,22,Male,21,Souleater,1.10,20-24
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35-39
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74,20-24
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67,20-24
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18,20-24
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70,20-24
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,35-39
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89,20-24
16,16,Lisirra25,20,Male,40,Second Chance,2.52,20-24
17,17,Zontibe81,21,Male,161,Devine,1.76,20-24
18,18,Reunasu60,22,Female,82,Nirvana,4.90,20-24
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,30-34
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60,20-24
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48,20-24
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,35-39
23,23,Eyrian71,40,Male,151,Severance,3.40,40+
24,24,Siala43,30,Male,141,Persuasion,3.19,30-34
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,25-29
26,26,Lirtossa84,11,Male,71,Demise,1.61,10-14
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,<10
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32,20-24
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16,20-24
...,...,...,...,...,...,...,...,...
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61,20-24
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36,10-14
752,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60,15-19
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,35-39
754,754,Pheosurllorin41,23,Female,79,"Alpha, Oath of Zeal",4.05,20-24
755,755,Raesty92,12,Male,76,Haunted Bronzed Bludgeon,3.15,10-14
756,756,Ilast79,20,Male,73,Ritual Mace,2.05,20-24
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60,15-19
758,758,Iral74,21,Male,182,Toothpick,4.03,20-24
759,759,Tyaelorap29,25,Male,72,Winter's Bite,3.77,25-29
760,760,Aithelis62,21,Male,44,Bonecarvin Battle Axe,2.38,20-24
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70,40+
762,762,Asur53,26,Male,110,Suspension,1.44,25-29
763,763,Lassilsala30,21,Male,85,Malificent Bag,1.75,20-24
764,764,Saedaiphos46,18,Male,113,Solitude's Reaver,4.07,15-19
765,765,Irith83,18,Male,130,Alpha,2.07,15-19
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14,20-24
767,767,Ilmol66,8,Female,92,Final Critic,4.88,<10
768,768,Assassasta79,38,Male,92,Final Critic,4.88,35-39
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58,15-19
770,770,Lirtosia63,34,Male,12,Dawne,1.02,30-34
771,771,Iskossasda43,16,Male,25,Hero Cane,4.35,15-19
772,772,Asur53,26,Male,136,Ghastly Adamantite Protector,3.58,25-29
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02,20-24
774,774,Jiskjask80,11,Male,101,Final Critic,4.19,10-14
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,101,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [239]:
#purchase_pd["Price"].sum()

In [240]:
purchase_pd_2 = purchase_pd.groupby("Age range")
purchase_pd_2.max()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
Age range,,,,,,,
<10,778,Tyeurith29,9,Male,179,"Wolf, Promise of the Moonwalker",4.93
10-14,774,Zhisrisu83,14,Male,180,Wolf,4.94
15-19,771,Yoishirrala98,19,Other / Non-Disclosed,183,Yearning Mageblade,4.91
20-24,779,Zontibe81,24,Other / Non-Disclosed,183,Yearning Mageblade,4.99
25-29,772,Yasur35,29,Other / Non-Disclosed,183,Worldbreaker,4.94
30-34,770,Yarolwen77,34,Male,178,Yearning Mageblade,4.93
35-39,768,Tyaerith73,39,Other / Non-Disclosed,179,"Wolf, Promise of the Moonwalker",4.91
40+,761,Salilis27,45,Male,173,Victor Iron Spikes,4.93

In [241]:
purchase_count = purchase_pd_2["Purchase ID"].count()
purchase_count = pd.DataFrame(purchase_count)
purchase_count

           Purchase ID
Age range
<10                 23
10-14               28
15-19              136
20-24              365
25-29              101
30-34               73
35-39               41
40+                 13

In [242]:
purchase_count.rename(columns={"Purchase ID":"Purchase Count"},inplace=True)

In [243]:
average_purchase_price = round(purchase_pd_2["Price"].mean(),2)
print(average_purchase_price)

Age range
<10      3.35
10-14    2.96
15-19    3.04
20-24    3.05
25-29    2.90
30-34    2.93
35-39    3.60
40+      2.94
Name: Price, dtype: float64

In [244]:
total_purchase_value = round(purchase_pd_2["Price"].sum(),2)
print(total_purchase_value)

Age range
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [245]:
purchase_count["Average Purchase Price"] = average_purchase_price.map("${:,}".format)
purchase_count["Total Purchase Value"] = total_purchase_value.map("${:,}".format)
purchase_count

           Purchase Count Average Purchase Price Total Purchase Value
Age range
<10                    23                  $3.35               $77.13
10-14                  28                  $2.96               $82.78
15-19                 136                  $3.04              $412.89
20-24                 365                  $3.05            $1,114.06
25-29                 101                   $2.9               $293.0
30-34                  73                  $2.93               $214.0
35-39                  41                   $3.6              $147.67
40+                    13                  $2.94               $38.24

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [253]:
purchase_pd.loc[:, ["SN","Price", 'Item ID']].head()

              SN  Price  Item ID
0        Lisim78   3.53      108
1    Lisovynya38   1.56      143
2     Ithergue48   4.88       92
3  Chamassasya86   3.27      100
4      Iskosia90   1.44      131

In [254]:
group_sn = purchase_pd.groupby(["Item ID", "Item Name"])
print(group_sn)
group_sn.max()

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000207152B8588>

,,Age,Gender,Price,Purchase ID,SN
Item ID,Item Name,,,,,
0,Splinter,21,Male,1.28,662,Phaena87
1,Crucifer,25,Male,3.26,697,Tyaelistidru84
2,Verdict,31,Male,2.48,560,Zontibe81
3,Phantomlight,34,Male,2.49,544,Tyidainu31
4,Bloodlord's Fetish,29,Male,1.70,635,Sondastsda82
5,Putrid Fan,30,Male,4.08,742,Rilaera56
6,Rusty Skull,24,Male,3.70,475,Lirtistanya48
7,"Thorn, Satchel of Dark Souls",29,Male,1.33,555,Shidai42
8,"Purgatory, Gem of Regret",42,Male,3.93,715,Hari50
9,"Thorn, Conqueror of the Corrupted",35,Male,2.73,283,Wailin72
10,Sleepwalker,27,Male,1.79,701,Undilsan50
11,Brimstone,34,Male,3.65,383,Yalo85
12,Dawne,34,Male,1.02,770,Pheodaisun84
13,Serenity,28,Male,1.41,599,Nitherian58
14,Possessed Core,29,Male,2.61,428,Ali84
15,Soul Infused Crystal,26,Male,2.96,588,Tyalaesu89
16,Restored Bauble,20,Other / Non-Disclosed,3.55,502,Yana46
17,"Lazarus, Terror of the Earth",45,Male,1.70,761,Yadacal26
18,"Torchlight, Bond of Storms",22,Male,4.65,472,Lisopela58
19,"Pursuit, Cudgel of Necromancy",30,Male,1.02,773,Tyialisudeu65
20,Netherbane,37,Male,3.27,718,Raisty38
21,Souleater,24,Male,1.10,726,Yasur85
22,Amnesia,26,Male,2.18,644,Syally44
23,Crucifer,22,Male,1.99,251,Iasur80
24,Warped Fetish,38,Other / Non-Disclosed,3.81,444,Sondassasya91
25,Hero Cane,38,Male,4.35,771,Zhisrisu83
26,Unholy Wand,30,Male,1.12,621,Yadaphos40
27,"Riddle, Tribute of Ended Dreams",15,Male,3.30,68,Indonmol95
28,"Flux, Destroyer of Due Diligence",33,Male,1.06,681,Yalaeria91
29,"Chaos, Ender of the End",35,Male,1.98,688,Saistyphos30
...,...,...,...,...,...,...
154,Feral Katana,38,Male,4.40,422,Tyaenasti87
155,War-Forged Gold Deflector,23,Male,1.01,586,Siralsudeu54
156,Soul-Forged Steel Shortsword,26,Male,1.77,721,Sundista37
157,"Spada, Etcher of Hatred",25,Male,4.80,389,Quinarap53
158,"Darkheart, Butcher of the Champion",16,Male,2.45,719,Sundassa93
159,"Oathbreaker, Spellblade of Trials",23,Male,3.08,746,Sondadar26
160,Azurewrath,29,Other / Non-Disclosed,4.40,703,Yalostiphos68
161,Devine,31,Male,1.76,650,Zontibe81
162,Abyssal Shard,24,Male,2.67,510,Iskjaskst81
163,Thunderfury Scimitar,26,Other / Non-Disclosed,3.45,637,Yarithrgue83
164,Exiled Doomblade,24,Male,1.63,776,Phistyn52
165,Bone Crushing Silver Skewer,35,Male,4.86,734,Saesrideu94
166,Thirsty Iron Reaver,29,Male,3.07,600,Iskosian40
167,"Malice, Legacy of the Queen",23,Male,3.61,750,Iskichinya81
168,"Sun Strike, Jaws of Twisted Visions",24,Male,1.48,461,Phiarithdeu40
169,"Interrogator, Blood Blade of the Queen",36,Male,2.18,684,Sastydeu50
170,Shadowsteel,25,Male,3.97,592,Lisast98
171,Scalpel,37,Male,1.79,630,Ilirrasda54
172,Blade of the Grave,33,Male,3.14,431,Sondilsaya62
173,Stormfury Longsword,41,Male,4.93,477,Smaistysu35
174,Primitive Blade,25,Male,3.47,353,Ryanara76
175,Woeful Adamantite Claymore,35,Male,4.48,257,Yasur35
176,Relentless Iron Skewer,32,Male,2.84,611,Ilosianya35
177,"Winterthorn, Defender of Shifting Worlds",30,Male,2.08,723,Lisista54
178,"Oathbreaker, Last Hope of the Breaking Storm",36,Male,4.23,753,Yadaphos40
179,"Wolf, Promise of the Moonwalker",37,Male,4.48,565,Sondossa69
180,Stormcaller,11,Male,3.36,751,Lisjaskan36
181,Reaper's Toll,25,Male,1.66,392,Styaduen40
182,Toothpick,23,Male,4.03,758,Iral74
183,Dragon's Greatsword,29,Male,1.09,705,Lirtassa52

In [255]:
purchase_popular = group_sn["Purchase ID"].count()
purchase_popular = pd.DataFrame(purchase_popular)
purchase_popular.head()

                            Purchase ID
Item ID Item Name
0       Splinter                      4
1       Crucifer                      3
2       Verdict                       6
3       Phantomlight                  6
4       Bloodlord's Fetish            5

In [256]:
purchase_popular.rename(columns ={"Purchase ID":"Purchase Count"}, inplace=True)
purchase_popular.head()

                            Purchase Count
Item ID Item Name
0       Splinter                         4
1       Crucifer                         3
2       Verdict                          6
3       Phantomlight                     6
4       Bloodlord's Fetish               5

In [269]:
item_price_popular = group_sn["Price"].unique()

In [270]:
total_price_popular = group_sn["Price"].sum()

In [271]:
purchase_popular["Item Price"] = item_price_popular
purchase_popular["Total Purchase Value"] = total_price_popular
purchase_popular = purchase_popular.sort_values(["Purchase Count"], ascending=False)
purchase_popular.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,[4.23],50.76
145,Fiery Glass Crusader,9,[4.58],41.22
108,"Extraction, Quickblade Of Trembling Hands",9,[3.53],31.77
82,Nirvana,9,[4.9],44.10
72,Winter's Bite,8,[3.77],30.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [273]:
purchase_popular = purchase_popular.sort_values(["Total Purchase Value"], ascending=False)
purchase_popular.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,[4.23],50.76
82,Nirvana,9,[4.9],44.10
145,Fiery Glass Crusader,9,[4.58],41.22
92,Final Critic,8,[4.88],39.04
103,Singed Scalpel,8,[4.35],34.80

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80